version: "3.8"

services:
  db:
    image: mariadb:11.2.2
    container_name: notes-db
    environment:
      MARIADB_ROOT_PASSWORD: root
      MARIADB_DATABASE: prgms_notes
      MARIADB_USER: prgms
      MARIADB_PASSWORD: prgms
    ports:
      - "30036:3306"
    volumes:
      - ./init-db.sql:/docker-entrypoint-initdb.d/1-init-db.sql
      - ./init-user.sql:/docker-entrypoint-initdb.d/2-init-user.sql
      - ./mysql_data:/var/lib/mysql
    networks:
      - notes

  backend:
    build: ./backend
    container_name: notes-be
    depends_on:
      - db
    environment:
      DB_HOST: db
      DB_PORT: 3306
      DB_USER: prgms
      DB_PASSWORD: prgms
      DB_NAME: prgms_notes
    ports:
      - "3031:3031"
    networks:
      - notes

  frontend:
    build: ./frontend
    container_name: notes-fe
    # 가이드라인에 따른 런타임 환경변수 설정
    environment:
      - REACT_APP_API_BASE_URL=http://localhost:3031
    ports:
      - "3000:3000"
    depends_on:
      - backend
    networks:
      - notes

networks:
  notes: {}